.wrapper {
  max-width: 112rem;

  margin: 3.2rem auto;
  padding: 0 1.6rem;

  display: grid;
  grid-template-columns: 256px 1fr;
  align-items: flex-start;
  gap: 3.2rem;
}

/* Responsive settings */

@media (max-width: 768px) {
  html {
    font-size: 56.5% !important;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}
